.title-div,
.draft-title,
.new-letter-title,
.selected-title-div {
  font-size: 24px;
  cursor: pointer;
  transition-duration: 0.21s;
}

.title-div {
  color: #a6a6a6;
}

.new-letter-title {
  color: #009B37;
}

.new-letter-title:hover {
  color: #2FE870;
}

.selected-title-div,
.draft-title:hover,
.title-div:hover {
  color: #ffffff;
}

.draft-title {
  color: #4d4d4d;
}

@media screen and (max-width: 768px) {

  .title-div,
  .draft-title,
  .new-letter-title,
  .selected-title-div {
    font-size: 21px;
    padding: 4px 0 4px 0;
  }

  .draft-title:hover,
  .title-div:hover {
    color: #a6a6a6;
  }
}